<h1>@Model[0].name</h1>
<p>A @Model[0].genre Band</p>
<hr>
<h3>Shows:</h3>
<ul>
  @foreach(var venue in Model[0].GetVenues())
  {
    <li>@venue.location at <a href="/venues/@venue.id">@venue.name</a></li>
  }
</ul>
<hr>
<h3>Add a Performance</h3>
<form action="/bands/@Model[0].id" method="post">
  <select name="venue">
    @foreach(var venue in Model[1])
    {
      <option value="@venue.id">@venue.name</option>
    }
  </select>
  <button type="submit">Add</button>
</form>
<hr>
<h3>Edit Band Info</h3>
<form style="display: inline;" action="/bands/@Model[0].id" method="post">
  <input type="hidden" name="_method" value="PATCH">
  <label for="name">Band Name:</label>
  <input type="text" name="name" value="@Model[0].name">
  <label for="genre">Music Genre:</label>
  <input type="text" name="genre" value="@Model[0].genre">
  <br>
  <br>
  <button type="submit">Update</button>
</form>
<form style="display: inline;" action="/bands/@Model[0].id" method="post">
  <input type="hidden" name="_method" value="DELETE">
  <button type="submit">Delete Band</button>
</form>
<hr>
<a href="/bands">View All Bands</a>
<br>
<br>
<a href="/">Home</a>
