<h1>@Model[0].name</h1>
<p>@Model[0].location</p>
<hr>
<h3>Performances:</h3>
<ul>
  @foreach(var band in Model[0].GetBands())
  {
    <li><a href="/bands/@band.id">@band.name</a></li>
  }
</ul>
<hr>
<h3>Add a Performance</h3>
<form action="/venues/@Model[0].id" method="post">
  <select name="band">
    @foreach(var band in Model[1])
    {
      <option value="@band.id">@band.name</option>
    }
  </select>
  <button type="submit">Add</button>
</form>
<hr>
<h3>Edit Venue Info</h3>
<form style="display: inline;" action="/venues/@Model[0].id" method="post">
  <input type="hidden" name="_method" value="PATCH">
  <label for="name">Venue Name:</label>
  <input type="text" name="name" value="@Model[0].name">
  <label for="location">Location:</label>
  <input type="text" name="location" value="@Model[0].location">
  <br>
  <br>
  <button type="submit">Update</button>
</form>
<form style="display: inline;" action="/venues/@Model[0].id" method="post">
  <input type="hidden" name="_method" value="DELETE">
  <button type="submit">Delete Venue</button>
</form>
<hr>
<a href="/venues">View All Venues</a>
<br>
<br>
<a href="/">Home</a>
